.chat-container {
    margin: 20px 30px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.568); */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    background-color: rgba(128, 128, 128, 0.39);
    width: 50%;
    border-radius: 10px;

    position: relative;
    background: #00abbb96;
    border-radius: 0.4em;
}

.chat-container:after {
    content: "";
    position: absolute;
    left: 0;
    top: 15%;
    width: 0;
    height: 0;
    border: 26px solid transparent;
    border-right-color: #00abbb96;
    border-left: 0;
    border-bottom: 0;
    margin-top: -13px;
    margin-left: -26px;
}

.chat-container a {
    font-size: 14px;
    text-decoration: none;
}

.chat-profile-pic-small {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;
}

.chat-profile-username {
    justify-content: start;
    align-self: center;
    display: flex;
    border-left: 4px solid rgb(5, 5, 173);
}
.first {
    font-size: 15px;
    grid-row: 1;
    grid-column: 2 / 4;
    margin: 5px 5px;
}

.chat-profile-msg {
    grid-row: 2;
    grid-column: 2 / 6;
    overflow-wrap: anywhere;
}

.chat-date {
    grid-row: 3 / 4;
    grid-column: 6 / 7;
    font-size: 12px;
}
