.friends-wannabes-container {
    display: flex;
}

.wannabes-list,
.friends-list {
    margin-top: 100px;
    font-weight: 900;
    width: 50%;
    margin: 70px;
}

/* .friends-list {
} */

.wannabes-list {
    margin-bottom: 50px;
}

.reject-btn {
    background-color: brown;
}

.no-friends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-content-container {
    display: flex;
    width: 430px;
}

.find-friends-container {
    margin: 60px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
