.profile-content-container {
    margin-left: 30px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    justify-content: space-around;
    gap: 20px 20px;
    width: 100%;
    /* height: 600px; */
}

.profile-username {
    margin: 0 10px;
    justify-self: center;
    align-self: center;
    grid-column: 1;
    grid-row: 1;
}
.profile-username p {
    font-size: 20px;
    padding-left: 5px;
    border-left: 4px solid rgb(5, 5, 173);
}

.profile-right-side {
    width: fit-content;
    grid-column: 3;
    align-self: center;
    justify-self: end;
    margin: 20px 100px;
    display: flex;
    flex-direction: column;
}

.profile-pic-small {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 31px;
    cursor: pointer;
    margin: 3px;
}

.profile-pic-large,
.other-profile-pic-large {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 0;
}

.profile-pic-large {
    cursor: pointer;
}

.profile-right-side button {
    width: 50%;
    margin: 20px 26%;
}

.bio-textarea {
    padding: 25px;
    width: fit-content;
    display: block;
    justify-self: center;
    grid-column: 1;
    grid-row: 1;
    align-self: flex-end;
    margin: -63px 1px;
}

.bio-text-container {
    justify-self: center;
    grid-column: 1;
    grid-row: 1;
    margin: 30px;
    align-self: flex-end;
}
.bio-text-container button {
    margin: 0;
}

.find-more-people {
    margin-left: 20px;
}

button {
    color: white;
    background-color: rgb(5, 5, 173);
    margin: 20px 10px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    height: 30px;
    cursor: pointer;
}

button:hover {
    color: rgba(0, 0, 0, 0.705);
    background-color: rgba(179, 177, 177, 0.383);
    border-radius: 20px;
}

button:active {
    color: rgba(0, 0, 0, 0.705);
    background-color: rgba(179, 177, 177, 0.383);
    border-radius: 20px;
    border: none;
    text-decoration: none;
    outline: 0;
}

button:focus {
    outline: 0;
}
